html{
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    border-radius: 50%;
}

/* UTILITIES */
.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

/* COMMON */
nav{
    height: 10%;
    border: 1px solid black;
}

.avatar-img{
    border: 1px solid black;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}


/* MAIN */
.big-container{
    width: 100vw;
    height: 100vh;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-container{
    width: 80%;
    height: 90%;
    border: solid 1px black;
    display: flex;
}

/* LEFT COL */
.left-col{
    height: 100%;
    width: 35%;
    border: 1px solid black;
}


/* RIGHT COL */
.right-col{
    height: 100%;
    width: 65%;
    border: 1px solid black;
}
