html{
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    border-radius: 50%;
}

/* UTILITIES */
.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

/* COMMON */
nav{
    height: 10%;
    background-color: #eaeaea;
    border: 1px solid black;
}

.avatar-img{
    border: 1px solid black;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.white{
    background-color: white;
}

.light-blue{
    background-color: #8edafc;
}

/* MAIN */
.big-container{
    width: 100%;
    height: 100vh;
    background-color: #d9dbd5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-container{
    width: 80%;
    height: 90%;
    border: solid 1px black;
    display: flex;
}

/* LEFT COL */
.left-col{
    height: 100%;
    width: 35%;
    border: 1px solid black;
}

.generic-col{
    height: 9.4%;
    border: 1px solid black;
    display: flex;
}

input{
    width: 99%;
    height: 30px;
    margin-top: .2rem;
    margin-bottom: .2rem;
    
}

/* RIGHT COL */
.right-col{
    height: 100%;
    width: 65%;
    border: 1px solid black;
}

.chat-container{
    height: 90%;
    background-image: url(../img/mine.jpg);
}

